<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css" >
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
</head>
<body>
    {{>navbar}}
    {{>header}}
    {{!-- <img class="center" src="https://images.pexels.com/photos/10988017/pexels-photo-10988017.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="roman"> --}}
    <img class="center" src="/images/lights.jpeg" alt="roman">
</body>
</html>